/* boardType */
.board__inner {
    border-top: 1px dashed #6cc4b3;
}
.Option {
    margin-top: 50px;
    text-align: center;
}
.Option:first-child select {
    margin-right: 20px;
}
.Option select {
    width: 325px;
    padding: 8px 20px;
    font-family: inherit;
    background: url(../img/arrow.png) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
    border: 1px solid #6cc4b3;
    border-radius: 25px;
    font-size: 20px;
    color: #6cc4b3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.board_ranking {
    margin: 20px 0 70px 0;
}
.board_ranking h3 {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 200;
    color: #6cc4b3;
    border-bottom: 1px solid #757575;
}
.ranking__inner {
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 3px 1px #f5f5f5;
}
.ranking__inner span {
    padding-top: 20px;
    font-size: 20px;
}
.weekBest {
    margin-right: 30px;
}
.MonthBest {
    margin-left: 30px;
    color: #6cc4b3;
}
.ranking__inner table {
    width: 100%;
    margin-top: 30px;
}



.board__table {
    width: 100%;
    padding: 20px;
    margin-top: 0 50px 0 0;
    text-align: center;
}
.table {
    width: 100%;
}
.table tr {

}
.table tr td {
    text-align: center;
    border-bottom: 1px dashed #6cc4b3;
}
.table tr td:nth-child(2) {
    text-align-last: left;
    width: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tr:last-child td {
    border-bottom: none;
}
.table thead {
    color: #6cc4b3;
    font-size: 16px;
    margin-bottom: 20px;
}

.borad__table td {
    padding: 13px 5px;
}
.borad__pages {
    margin: 40px 0;
}
.borad__pages ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borad__pages ul li a {
    padding: 13px 10px;
    color: #505050;
}
.borad__pages ul li.active a {
    color: #6cc4b3;
}
.search__box {
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.search-txt {
    width: 500px;
}
.search-btn {
    font-size: 15px;
    color: #6cc4b3;
    background-color: #fff;
}
.board_write {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 20px;
    border: 1px solid rgb(108, 196, 179);
    border-radius: 20px;
    transition: all 0.3s;
}
.board_write:hover {
    background-color: rgba(108, 196, 179, 0.1);
}
