/* boardType */
.board__inner {
    border-top: 1px dashed #6cc4b3;
}
.Option {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.Option_category {
    width: 325px;
    padding: 3px 20px;
    font-family: inherit;
    border: 1px solid #6cc4b3;
    border-radius: 25px;
    font-size: 20px;
    color: #6cc4b3;
    display: flex;
}
.Option_category:first-child {
    margin-right: 20px;
}
.Option_category p {
    width: 40%;
}
.Option_category p em {
    margin-left: 20px;
}
.Option_category select  {
    width: 60%;
    margin-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrow.svg) no-repeat 95% 50%;
    border: none;
    font-family: inherit;
    font-size: 20px;
    color: #6cc4b3;
    cursor: pointer;
}
.Option_category select:focus {
    outline: none;
}
.Option_category select option {
    font-family: inherit;
    font-size: 20px;
    color: #6cc4b3;
}
#searchOption2 {
    width: 65%;
    appearance: none;
    background: url(../img/arrow.svg) no-repeat 95% 50%;
    border: none;
    font-family: inherit;
    font-size: 20px;
    color: #6cc4b3;
    cursor: pointer;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button  { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 
input[type="date"]:focus {
    outline: none;
}
.board_ranking {
    margin: 50px 0 70px 0;
}
.board_ranking h3 {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 200;
    color: #6cc4b3;
    border-bottom: 1px solid #6cc4b3;
}
.ranking__inner {
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 3px 3px 6px 2px rgba(222, 222, 222, 0.25);
}
.ranking__inner span {
    font-size: 20px;
    color: #505050;
}
.board_ranking_tr {
    color: #505050;
}
.ranking__inner > table tr td {
    font-size: 18px;
    font-weight: 400;
}
.ranking__inner > table tr td:nth-child(2) {
    font-size: 16px;
}
.ranking__inner > table tr td:nth-child(3) {
    font-size: 16px;
}
.weekBest {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px dashed #505050;   
}
.MonthBest {
    color: #6cc4b3;
}
.ranking__inner table {
    width: 100%;
    margin-top: 20px;
}



.board__table {
    width: 100%;
    padding: 20px;
    margin-top: 0 50px 0 0;
    text-align: center;
}
.table {
    width: 100%;
}
.table tr {

}
.table tr td {
    text-align: center;
    border-bottom: 1px dashed #6cc4b3;
    color: #505050;
}
.table tr td:nth-child(2) {
    text-align-last: left;
    width: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tr:last-child td {
    border-bottom: none;
}
.table thead {
    color: #6cc4b3;
    font-size: 16px;
    margin-bottom: 20px;
}
.board_ranking_tr td {
    padding-top: 10px;
}
.borad__table td {
    padding: 20px 5px;

}
.borad__table td a {
    color: #505050;
    font-size: 18px;
}
.borad__pages {
    margin: 70px 0 20px 0;
}
.borad__pages ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borad__pages ul li a {
    padding: 13px 10px;
    color: #505050;
}
.borad__pages ul li.active a {
    color: #6cc4b3;
}
.search__box {
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.search-txt {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid #6cc4b3;
    font-size: 16px;
}
.search-btn {
    font-size: 16px;
    color: #6cc4b3;
    background-color: #fff;
}
.search-btn:hover {
    cursor: pointer;
}
.board_write {
    position: absolute;
    right: 0;
    bottom: 1px;
    padding: 3px 16px;
    border: 1px solid #6cc4b3;
    border-radius: 20px;
    transition: all 0.3s;
    color: #6cc4b3;
}

.search-txt:focus {
    outline: none;
}
input:required {
    font-family: 'SCoreDream';
    color: #505050;
}