#header {
    width: 100%;
    height: 150px;
    background-color: #d5d5d5;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header li {
    display: inline-block;
}

.negative_mb18 {
    margin-bottom: -18px;
}
.certify_method p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.certify_method {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #757575;
}
.method_choice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #6CC4B3;
    margin-bottom: 20px;
}
.method {
    width: 72px;
    height: 96px;
    padding: 27px 39px;
    border: 1px solid #6CC4B3;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.method:hover {
    background-color: rgba(108, 196, 179, 0.1);
}
.method img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.method figcaption {
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    color: #757575;

}
.method.method_choice {
    background-color: rgba(108, 196, 179, 0.1);
}
.certify_confirm {
    font-size: 20px;
    text-align: center;
    color: #505050;
}