@import url('https://webfontworld.github.io/score/SCoreDream.css');

.login_btn {
    margin-right: 40px;
}

.login__popup {
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #6CC4B3;
    color: #505050;
}
.login__inner {
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.login__header h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #505050;
}
.login__header h3 > a {
    color: #505050;
}
.tab_menu {
    /* margin-bottom: 15px; */
}
.tab_menu em {
    color: #6CC4B3;
}
.tab_menu > span {
    display: inline-block;
    color: #757575;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}
.tab_menu > span > a {
    color: #757575;
}
.tab_menu > span.id {
    margin-right: 5px;
}
.tab_menu > span.pass {
    margin-left: 5px;
}
.tab_menu > span.active {
    color: #6CC4B3;
}
.search_IDcontents {

}
.search_PASScontents {

}
.user_search {
    font-size: 16px;
    border-bottom: 1px dashed #6CC4B3;
    border-style: dashed 20px;
    padding-bottom: 5px;
    margin-bottom: 9px;
    color: #757575;
}
input::placeholder {
    font-family: 'SCoreDream';
    font-weight: 400;
}
button {
    font-family: 'SCoreDream';
    font-weight: 400;
}

.close_btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.close {
    display: none;
    transform: scale(0)
}