/* imageType */
.imageType {
    margin-top: 100px;
    width: 100%;
}
.imageType__inner {
    text-align: center;
    margin-bottom: 100px;
}
.imageType__inner h2 {
    font-size: 16px;
    color: #6cc4b3;
}
.imageType__inner p {
    font-size: 30px;
    color: #757575;
    margin-bottom: 10px;
}
