.join__popup {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.join__inner {
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #505050;
}
.join__inner > h2 {
    font-size: 24px;
    color: #505050;
    text-align: center;
    margin-bottom: 30px;
}
.join__box > h3 {
    border-left: 1px solid #6cc4b3;
    padding-left: 10px;
    margin: 0 0 10px 5px;
    color: #6cc4b3;
}
.join__box .join__title {
}
.join__box > div {
    margin-bottom: 10px;
}
.join__box > div > label {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.join__box > div > input {
    border: 0;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}
.join__box > div > input:focus {
    outline: 1px solid #6CC4B3;
}
.join__box > div > input::placeholder {
    color: #757575;
}
#youPassc {
    margin-bottom: 20px;
}
#youEmail {
    margin-bottom: 20px;
}
.id_box {
    position: relative;
}
.ID_confirm {
    font-size: 16px;
    color: #757575;
    background-color: #F5F5F5;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 11px;
    right: 20px;
    font-weight: 400;
}

.join__btn {
    display: block;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
