.login__popup {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login__inner {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #505050;
}
.login__header h3 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    color: #505050;
}
.login__contents {
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
}
.login__contents .input__style {
    background-color: #f5f5f5;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}
.login__contents .input__button {
    border-radius: 5px;
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.login__contents .btn {
    justify-content: space-between;
}
.login__box {
    margin-bottom: 30px;
}
.login__contents .btn li {
    display: inline;
}
.login__contents .btn li:first-child a {
    font-size: 25px;
    color: #6cc4b3;
    box-shadow: 2px 2px 3px rgba(108, 196, 179, 0.5);
}
.login__contents .btn li:last-child a {
    font-size: 25px;
    color: #f2da00;
    box-shadow: 2px 2px 3px rgba(242, 218, 0, 0.5);
}
.login__contents .btn a {
    width: 49%;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}
.login__footer .btn {
    border-top: 1px dashed #757575;
}
.login__footer:first-child .btn {
    border-left: 1px dashed #000;
}
.login__footer .btn li {
    display: inline;
    font-size: 25px;
}
.login__footer .btn li:first-child {
    border-right: 1px dashed #757575;
}

.login__footer .btn a {
    width: 49%;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    color: #757575;
}
