.view__inner {
    width: 1360px;
    height: 723px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
}
.view__top {
    display: flex;
    justify-content: space-between;
    color: #757575;
    border-bottom: 1px dashed #6cc4b3;
    margin-bottom: 30px;
}
.view__top > h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
.view__top > h3 {
    margin-left: 10px;
    font-size: 20px;
}
.view__top > h3:last-child {
    margin-left: 30px;
}
.view__top__right {
    display: flex;
}
.like {
    border-right: 1px solid #6cc4b3;
    height: 24px;
    width: 155px;
    margin-right: 10px;
}
.like > img {
    width: 20px;
    height: 20px;
}
.date {
    margin-left: 30px;
}

.view__bot {
    color: #505050;
}
.view__bot > p {
    margin-bottom: 20px;
}
.boardView__btn {
    margin: 0 auto;
    width: 1360px;
    text-align: right;
    padding-top: 17px;
    cursor: pointer;
}
.boardView__btn > button {
    background-color: inherit;
    font-size: 18px;
    margin-bottom: 20px;
}
.boardView__btn > button:last-child {
    margin-right: 20px;
}
.boardView__btn > button a {
    color: #505050;
}
.boardView__btn > button span {
    padding: 0 0px 0 5px;
}
